<div class="background-darkgrey">
  <mat-toolbar class="page-container row-container background-darkgrey">
    <a routerLink="\" class="title row-container horizon-gap">
      <mat-icon>devices</mat-icon>
      <span>Digital Solutions</span>
    </a>
    <span class="spacer"></span>
    <div class="row-container horizon-gap">
      <a mat-button routerLink=".">About</a>
      <a mat-button routerLink=".">Services</a>
      <a mat-button routerLink=".">Book online</a>
    </div>
  </mat-toolbar>
</div>
