@use 'sass:map';
@use '@angular/material' as mat;

// colors
$black: #000000;
$white: #ffffff;
$grey-1: rgba(0, 0, 0, 87%);
$grey-2: rgba(0, 0, 0, 60%);
$grey-3: rgba(0, 0, 0, 38%);
$lightgrey: map.get(mat.$grey-palette, 200);
$darkgrey: map.get(mat.$grey-palette, 400);
$colors: (
  'black': $black,
  'white': $white,
  'lightgrey': $lightgrey,
  'darkgrey': $darkgrey,
);
// opacities
$high-opacity: 87%;
$medium-opacity: 60%;
$low-opacity: 38%;
// lengths
$gap: 8px;
$gap-1: 16px;
// font
$font-small: 13px;
